.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Alignement des éléments dans le sens principal (axe principal) */
.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}

.align-space-between {
  justify-content: space-between;
}

.align-space-around {
  justify-content: space-around;
}

/* Alignement des éléments dans le sens secondaire (axe transversal) */
.align-top {
  align-items: flex-start;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

/* Direction de l'axe principal */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* Ordre des éléments */
.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

/* Expansion des éléments */
.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

/* Réduction des éléments */
.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

/* Alignement des éléments individuels */
.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}
